<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-04WTTJW6XR&amp;l=dataLayer&amp;cx=c"></script>
    <script id="ga-gtag" type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=G-04WTTJW6XR" async=""></script>
    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.ico">
    <link rel="manifest" href="/img/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-0QVYXLVHB0&amp;cx=c&amp;_slc=1"></script>
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <meta name="csrf-token" content="1jfwNgTcEYZBLLZe6eWnTJHREmo6ObRf66Zcug0A">
    <meta name="API_PATH" id="API_PATH" data-path="https://lin01-api-site-release.inforcedata.com.br/api">
    <title>Fernanda Regal</title>
    <meta http-equiv="Cache-Control" content="max-age=86400, public">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Imóveis para venda e locação no Rio de Janeiro">
    <meta property="og:description" content="Os melhores imóveis na Zona Sul, Zona Norte e Zona Oeste no Rio de Janeiro">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Os melhores imóveis na Zona Sul, Zona Norte e Zona Oeste no Rio de Janeiro">
    <meta name="keywords" content="Os melhores imóveis na Zona Sul, Zona Norte e Zona Oeste no Rio de Janeiro">
    <script src="~/Content/js/jquery-3.3.1.min.js" defer="" crossorigin="anonymous"></script>
    <script src="~/Content/js/plugins/lgpd.js"></script>
    <script type="text/javascript" async="" src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/d47a5063-d631-438d-a0ba-08d1875b276f-loader.js"></script>
    <script>
        var _gacode = 'UA-71662119-9';

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', _gacode, 'auto');
        ga('send', 'pageview');</script>
    <style>
        .callToActionChat {
            display: none !important;
        }
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.inforcedata.com.br/custom/fontawesome/5.13.1/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.inforcedata.com.br/custom/fontawesome/5.13.1/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.inforcedata.com.br/custom/fontawesome/5.13.1/css/fontawesome.css" rel="stylesheet">
    <link href="https://cdn.inforcedata.com.br/custom/fontawesome/5.13.1/css/brands.css" rel="stylesheet">
    <link href="https://cdn.inforcedata.com.br/custom/fontawesome/5.13.1/css/solid.css" rel="stylesheet">
    <link href="~/Content/js/plugins/light/lightslider.min.css" rel="stylesheet">
    <link href="~/Content/js/plugins/jquery.nice-select.min.js" rel="stylesheet">
    <link href="~/Content/js/plugins/toggle-switch.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/header.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/js/plugins/owl.carousel.min.css">
    <link href="~/Content/js/plugins/nouislider.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/js/plugins/jquery.simplePagination.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:400,400i,600,700,800">
    <meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
    <meta http-equiv="origin-trial" content="AymqwRC7u88Y4JPvfIF2F37QKylC04248hLCdJAsh8xgOfe/dVJPV3XS3wLFca1ZMVOtnBfVjaCMTVudWM//5g4AAAB7eyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGV0YWdtYW5hZ2VyLmNvbTo0NDMiLCJmZWF0dXJlIjoiUHJpdmFjeVNhbmRib3hBZHNBUElzIiwiZXhwaXJ5IjoxNjk1MTY3OTk5LCJpc1RoaXJkUGFydHkiOnRydWV9">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">
                @Html.ActionLink("Nome do aplicativo", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar a navegação" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Página Inicial", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Sobre", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contato", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>*@
    <header>
        <div class="main-header" style="height: 53px;">
            <div id="headerBar" class="" style="top: -73px;">
                <nav class="navbar navbar-expand-xl">
                    <div class="container d-flex justify-content-start">
                        <div class="content-links d-flex"><button class="navbar-toggler d-xl-none" type="button" data-target="#navbarNavDropdown" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button></div><a class="navbar-brand" href="/"><img alt="logoRegal" src="~/Content/img/logo.png" class=""></a><div class="overlay_menu d-xl-none" data-target="#navbarNavDropdown"></div><div class="menu_site navbar-collapse ml-xl-auto" id="navbarNavDropdown">
                            <div class="d-xl-none"><img alt="FernandaRegal" src="" class=""><button type="button" class="close_mobile" data-target="#navbarNavDropdown"><i class="fas fa-times"></i></button></div><ul class="navbar-nav">
                                <li class="nav-item dropdown ">
                                    <a class="nav-link " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Comprar <i class="fas fa-angle-down"></i>
                                    </a><ul class="dropdown-menu"><li><a href="/lancamentos/imoveis"><i class="fas fa-home"></i> Lançamentos</a></li><li><a href="/venda/imoveis?busca={&quot;Finalidade&quot;:&quot;venda&quot;,&quot;ValorMin&quot;:0,&quot;ValorMax&quot;:50000000,&quot;AreaMin&quot;:0,&quot;AreaMax&quot;:6000,&quot;Caracteristica&quot;:&quot;[]&quot;,&quot;Anuncio&quot;:&quot;[]&quot;,&quot;AutoSuggest&quot;:&quot;[{\&quot;SuggestTipo\&quot;:6,\&quot;SuggestTipoAsString\&quot;:\&quot;Cidade\&quot;,\&quot;Tag\&quot;:\&quot;rjrio-de-janeiro\&quot;,\&quot;Nome\&quot;:\&quot;Rio de Janeiro - RJ\&quot;,\&quot;BairroID\&quot;:null,\&quot;Bairro\&quot;:null,\&quot;Zona\&quot;:null,\&quot;CidadeID\&quot;:1,\&quot;Cidade\&quot;:\&quot;Rio de Janeiro\&quot;,\&quot;Empreendimento\&quot;:null,\&quot;Condominio\&quot;:null,\&quot;AgrupamentoID\&quot;:null,\&quot;Agrupamento\&quot;:null,\&quot;Estado\&quot;:\&quot;RJ\&quot;}]&quot;,&quot;HasMapa&quot;:&quot;false&quot;,&quot;Page&quot;:1,&quot;PageSize&quot;:10,&quot;carregarSimilares&quot;:&quot;true&quot;,&quot;SomenteImoveis&quot;:&quot;true&quot;}"><i class="fas fa-building"></i> Comprar seu imóvel</a></li></ul>
                                </li>                                
                                <li>@Html.ActionLink("Sobre", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Entre em contato", "Contato", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Imovel", "Imovel001", "Imoveis", new { area = "" }, new { @class = "nav-link" })</li>
                                <li class="nav-item "><a class="nav-link" href="/contato/fale-conosco">Seja um parceiro</a></li>
                                <li class="nav-item "><a class="nav-link nav-link-fill circle" href="https://api.whatsapp.com/send/?phone=5521982379401&text&type=phone_number&app_absent=0" target="_blank"><i class="fal fa-comment-alt-dollar pr-2"></i>Anunciar meu imóvel</a></li>
                                @*<li class="nav-item dropdown menu-options">
                                        <a class="nav-link " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/img/svg/icon-menu-app.svg"></a><ul class="dropdown-menu dropdown-menu-right dropdown-custom-menu">
                                            <li>
                                                <a href="/a-empresa">
                                                    <i class="far fa-store-alt fa-2x"></i>

                                                    Nossas Unidades
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contato/trabalhe-conosco">
                                                    <i class="fas fa-users fa-2x"></i>
                                                    Seja nosso parceiro
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/blog">
                                                    <i class="fas fa-star fa-2x"></i>
                                                    Clipping
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/contato/anuncie-seu-imovel">
                                                    <i class="fas fa-home fa-2x"></i>
                                                    Avalie seu imóvel
                                                </a>
                                            </li>
                                        </ul>
                                    </li>*@
                                @*<li class="nav-item dropdown menu-options-mobile">
                                        <a class="nav-link " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                            Outras <i class="fas fa-angle-down"></i>
                                        </a><ul class="dropdown-menu"><li><a href="#">Nossas Unidades</a></li><li><a href="/contato/fale-conosco">Fale Conosco</a></li><li><a href="/blog">Blog</a></li><li><a href="/contato/anuncie-seu-imovel">Venda seu Imóvel</a></li><li><a href="#">Serviços</a></li><li><a href="#">Outras Páginas</a></li></ul>
                                    </li>*@
                                @*<li class="d-xl-none contact_item"><a target="_blank" href="" class="nav-link"><span class="icon"><i class="fab fa-whatsapp"></i></span><span class="text"><strong>Whatsapp</strong><span class="strong">(21) 981291001</span></span></a></li>*@
                                @*<li class="social d-xl-none "><ul class="justify-content-start"></ul></li>*@
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        @*<div class="mobile-search-button d-lg-none" id="open_busca"><p class="mobile-search-button__text">Digite o código cidade ou bairro</p></div>*@
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    <footer class="footer-main pt-5">
        <div class="container menu-footer">
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-4"><div class="row"><div class="col-12" style="padding-left: 0;"><img src="~/Content/img/logo.png" width="555" alt="FernandaRegal" class="logo_footer img-float mx-auto mb-3 mb-md-0 d-block " style="width: 100%; max-height:45px; margin: 0 !important;"></div></div></div><div class="col-12 col-md-6 footer-content-wrapper" style="display: flex;justify-content: center;gap: 16px;"><div class="col-sm-4 col-12 mt-2 mt-md-0"><ul class="ftr_menu"><li><h4>Contato</h4></li><li class="menu_item_1"><a href="~/Views/Home/Contato">Entre em contato</a></li><li class="menu_item_1"><a href="~/Views/Home/About">Sobre</a></li><li class="menu_item_1"><a href="https://api.whatsapp.com/send/?phone=5521982379401&text&type=phone_number&app_absent=0">Anuncie seu imóvel</a></li></ul></div><div class="col-sm-6 col-12 mt-3 mt-md-0"><ul class="ftr_menu"><li><div class="d-flex flex-row social-redes"></div></ul></div></div><div class="col-12 col-md-12 text-center text-md-left px-5 px-md-0">
                    <div class="box-endereco col-12" style="display: flex;
            padding: 0;
            gap: 2px;
            margin-top: 16px;">
                        @*<p>
                            <strong>Barra da Tijuca</strong><br>
                            Avenida João Cabral de Mello Neto,
                            850 Bloco 2 Sala 729 - CEO OFFICES
                            Rio de Janeiro, RJ<br>
                        </p><p>
                            <strong>Copacabana</strong><br>
                            Avenida Nossa Senhora de Copacabana, 1344 Loja A, Rio de Janeiro/RJ
                        </p><p>
                            <strong>Vila Olímpia</strong><br>
                            Rua Gomes de Carvalho, 921 CJ 101 e 104, São Paulo/SP
                        </p>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/js/popper.min.js" defer="" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" defer="" type="text/javascript"></script>
    <script src="~/Content/js/plugins/handlebars.min.js" defer="" type="text/javascript"></script>
    <script src="~/Content/js/plugins/owl.carousel.js" defer=""></script>
    <script src="~/Content/js/plugins/jquery.mask.min.js" defer="" type="text/javascript"></script>
    <script src="~/Content/js/plugins/select2.min.js" defer=""></script>
    <script src="~/Content/js/plugins/blazy/blazy.min.js" defer=""></script>
    <script src="~/Content/js/plugins/jquery.nice-select.min.js" defer=""></script>
    <script src="~/Content/js/plugins/fixbar-up-scroll.min.js" defer=""></script>
    <script src="~/Content/js/plugins/lgpd.js" defer=""></script>
    <script src="~/Content/js/plugins/light/lightslider.min.js" defer=""></script>
    <script src="~/Content/js/app.min.js" defer=""></script>
    <script src="~/Content/js/controle/busca-avancada.min.js" defer="" type="text/javascript"></script>
    <script src="~/Content/js/plugins/nouislider.min.js" defer=""></script>
    <script src="~/Content/js/plugins/wNumb.js" defer=""></script>
    <script src="~/Content/js/plugins/jquery.simplePagination.js" defer=""></script>
    <script>
        /* PRONTOS */
        window.addEventListener('DOMContentLoaded', function () {
            /* */
            function callPage() {
                gAJAX = "abort";
                setLoading("remove");
                window.location.reload();
            }

            $(document).ready(function () {

                // LGPD
                ModuleLGPD.init({
                    message: 'Utilizamos cookies para oferecer melhor experiência, melhorar o desempenho, analisar como você interage em nosso site e personalizar conteúdo. Ao utilizar este site, você concorda com o uso de cookies. <a href="/politica-de-privacidade">Para saber mais, clique aqui.</a>',
                    style: {
                        button: {
                            background: '#2e2d68',
                            _hover: {
                                background: '#3a3985'
                            }
                        },
                        description: {
                            a: {
                                color: '#121527'
                            }
                        }
                    }
                });

                // seta as variaves globais
                gAPI = '';
                gAPIKEY = 'fernandaRegal';
                gQS = '';
                gDATA = null;
                compileHandlebar = false;
                gELEM = $("#product-list");
                console.log(gAPIKEY);
                // inicializa a lista de prontos
                // initProdutosLista(gAPI+gQS, gDATA, gELEM);

                // inicializa o slider de valor
                initSliderValor();

                // inicializa o slider de area util
                initSliderAreaUtil();

                //setLoading('off');

                //$('.container-busca-avancada').affix({
                //    offset: {
                //        top: $('header').height() + $('.banner_txt_main').height() + 50
                //    }
                //});
                // Slider de regioes no mobile - home
                function initRegSlider(__width) {
                    var $wrapper = $(".wrapper_regioes");

                    if (__width <= 768) {
                        $wrapper.owlCarousel({
                            items: 1
                        });
                        $wrapper.addClass('owl-carousel owl-theme');
                        $wrapper.removeClass('row');
                    } else {
                        $wrapper.owlCarousel('destroy');
                        $wrapper.removeClass('owl-carousel owl-theme');
                        $wrapper.addClass('row');
                    }
                };

                // roda no inicio, quando o site é carregado
                initRegSlider(window.innerWidth);

                // roda quando dá um resize na página
                $(window).resize(function (event) {
                    var _width = window.innerWidth;
                    initRegSlider(_width);
                });


                $('.select-filtro-lateral').niceSelect();


            });
        });

    </script>

    <script>

        window.addEventListener('DOMContentLoaded', function () {
            $(document).ready(function () {

                $('.select-filial').niceSelect();

                $('.custom-select-nice').niceSelect();
                $('[data-toggle="tooltip"]').tooltip();

                // GUEST
                // verifica se existe um track ativo
                verifyGuest();


                // ULTIMOS ACESSADOS
                // verifica se e uma pagina interna de produto
                var ContentID = "";
                var Finalidade = "";
                // ULTIMOS ACESSADOS


                /* Funcao que trata os dados do form de contato para envio para a API */
                $(".form-contato .form-submit").click(function () {

                    var url = "";

                    var error = null;
                    var form = $(this).parents(".form-contato");

                    var message = "";
                    var unindexed_array = form.serializeArray();
                    var indexed_array = IndexDataForm(unindexed_array);
                    var values_array = indexed_array;
                    var values = "";


                    // prepara os inputs com os data=values
                    values_array = IndexDataForm(form.find(":input[data='values']").serializeArray());
                    indexed_array.values = JSON.stringify(values_array);

                    // valida os campos obrigatorios
                    form.find(".form-control").each(function (idx) {
                        var el = $(this);
                        var required = el.attr("required");
                        var value = el.val();

                        if ((required) && (value === "")) {
                            el.addClass("alert-danger");
                            form.find('.contato-mss').html("<div class='alert alert-danger  alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><h6>Preencha os campos obrigatórios!</h6></div>");
                            error = 1;
                        } else {
                            el.removeClass("alert-danger");
                            if (!error) {
                                form.find('.contato-mss').html("");
                            }
                        }
                    });

                    if (validateEmail(indexed_array["Email"])) {
                        // email ok
                    } else {
                        // email fora do formato
                        $("input[name='Email']").addClass("alert-danger");
                        form.find('.contato-mss').append("<div class='alert alert-danger  alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><h6>O Email está em um formato inválido!</h6></div>");
                        error = 1;
                        console.log(indexed_array);
                    }

                    if (error) {
                        return false;
                    }


                    form.parent('.box-contato').css("opacity", "0.5");
                    form.find('.btn.form-submit').attr("disabled", "disabled");

                    //return false;

                    // envia para a API
                    $.ajax({
                        method: "POST",
                        url: url,
                        data: indexed_array
                    })
                        .done(function (resp) {
                            console.log(resp);
                            // form.find('.contato-titulo').html( resp.Title );
                            // form.find('.contato-mss').html( '<p>' + resp.Message + '</p>' );
                            // form.parent('.box-contato').css("opacity","1");
                            // form.find('.btn.form-submit').prop("disabled", false);

                            form.find('.formEnviar').hide();
                            form.parent('.box-contato').css("opacity", "1");
                            form.find('.formResposta').show();

                        })
                        .fail(function (resp) {
                            console.log("erro de consumo da api");
                            console.log(resp);
                            form.find('.contato-titulo').html("Erro de comunicação:");
                            form.find('.contato-mss').html("Por favor, tente novamente.");
                            form.parent('.box-contato').css("opacity", "1");
                            form.find('.btn.form-submit').prop("disabled", false);
                        });
                });

                $(".form-contato-modal .form-submit").click(function () {

                    var url = "";
                    // console.log(url);

                    var error = null;
                    var form = $(this).parents(".form-contato-modal");

                    var message = "";
                    var unindexed_array = form.serializeArray();
                    var indexed_array = IndexDataForm(unindexed_array);
                    var values_array = indexed_array;
                    var values = "";

                    console.log(indexed_array);

                    // prepara os inputs com os data=values
                    values_array = IndexDataForm(form.find(":input[data='values']").serializeArray());
                    indexed_array.values = JSON.stringify(values_array);

                    // valida os campos obrigatorios
                    form.find(".form-control").each(function (idx) {
                        var el = $(this);
                        var required = el.attr("required");
                        var value = el.val();

                        if ((required) && (value === "")) {
                            el.addClass("alert-danger");
                            form.find('.contato-mss').html("<div class='alert alert-danger  alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><h6>Preencha os campos obrigatórios!</h6></div>");
                            error = 1;
                        } else {
                            el.removeClass("alert-danger");
                            if (!error) {
                                form.find('.contato-mss').html("");
                            }
                        }
                    });

                    if (validateEmail(indexed_array["Email"])) {
                        // email ok
                    } else {
                        // email fora do formato
                        $("input[name='Email']").addClass("alert-danger");
                        form.find('.contato-mss').append("<div class='alert alert-danger  alert-dismissable'><a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><h6>O Email está em um formato inválido!</h6></div>");
                        error = 1;
                        console.log(indexed_array);
                    }

                    if (error) {
                        return false;
                    }


                    form.parent('.box-contato').css("opacity", "0.5");
                    form.find('.btn.form-submit').attr("disabled", "disabled");

                    //return false;

                    // envia para a API
                    $.ajax({
                        method: "POST",
                        url: url,
                        data: indexed_array
                    })
                        .done(function (resp) {
                            console.log(resp);
                            form.find('.formEnviar').hide();
                            form.parent('.box-contato').css("opacity", "1");
                            form.find('.formResposta').show();
                        })
                        .fail(function (resp) {
                            console.log("erro de consumo da api");
                            console.log(resp);
                            form.find('.contato-titulo').html("Erro de comunicação:");
                            form.find('.contato-mss').html("Por favor, tente novamente.");
                            form.parent('.box-contato').css("opacity", "1");
                            form.find('.btn.form-submit').prop("disabled", false);
                        });
                });


            });

            // Script para retardar carregamento das imagens #}
            var bLazy = new Blazy({
                selector: '.lazyload',
                src: 'data-blazy',
                success: function (element) {
                    imageToSvg();
                }
            });
            //Script para retardar carregamento das imagens #}

            function addCss(fileName) {
                var link = $("<link />", {
                    rel: "stylesheet",
                    type: "text/css",
                    href: fileName
                })
                $('head').append(link);
            }

            var arrCSS = [
                '/Content/select2.min.css',
                '/Content/font-awesome.min.css',
                '/Content/js/plugins/owl.carousel.min.css',
                'https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:400,400i,600,700,800'
            ]

            arrCSS.forEach(function (css) {
                addCss(css);
            });

            // funcao para verificar e carregar o cookie do visitante
            function verifyGuest() {
                // carrega o cookie do visitante
                var cookieGuest = getCookie('guest');
                if (cookieGuest) {
                    cookieGuest = JSON.parse(cookieGuest);
                } else {
                    var strGuest = '{"token":"$2y$10$x.jKgFefI18RERglaZ4tR..1lwtCqPWAFLiwGkBemBgJxbA\/NQjIi","email":"","nome":"","visitados":[],"favoritos":[]}';
                    if (strGuest != '') {
                        cookieGuest = JSON.parse(strGuest);
                    }
                }

            }


        });


    </script>

    <script type="text/javascript">window.NREUM || (NREUM = {}); NREUM.info = { "beacon": "bam.nr-data.net", "licenseKey": "NRJS-c0d4e49821ab4c8a79b", "applicationID": "1037075978", "transactionName": "bldUbRdXXEYCAEBbClcdd1oRX11bTA==", "queueTime": 0, "applicationTime": 1209, "atts": "QhBXG19NT0g=", "errorBeacon": "bam.nr-data.net", "agent": "" }</script>

    <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-popups/bricks/rdstation-popup.min.js?v=1"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/choices.js@4/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/integration/2.0.0/rd-js-integration.min.js?v=1"></script>

</body>
</html>
