@model List<Fernanda.Models.ImovelCode>
@{
    ViewData["Title"] = "Home Page";
}



<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header d-none d-xl-block"><div class="wrapper_bread"><div class="container"></div></div></section><section class="content">
            <div class="spark-screen">
                <div class="banner">
                    <div id="content-slider">
                        <div class="image-box  lazyload_slide b-loaded" style="background-repeat: no-repeat; background-position: center center; background-size: 100%; background-image: url(/Content/img/nanda.jpg);">
                            <div class="text_banner">
                                <div class="container">
                                    <a href="">
                                        <h1>Juntos, encontramos os melhores imóveis para você e sua família viverem momentos inesquecíveis.</h1>
                                        <div class="subtitulo">
                                            <p style="text-align: center; display:none">
                                                <br />
                                                Venda de imóveis de Lançamento e na Planta, novos e usados.<br />
                                                Imóveis de categoria Médio, Intermediário e Alto padrão.<br />
                                                Região da Zona Norte, Zona Oeste e Zona Sul do Rio de Janeiro.
                                            </p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
    
                <div class="container-busca-avancada">
                    <div class="content_close_mobile_busca d-md-none">
                        <div class="container">
                            <button type="button" class="close_mobile_busca d-md-none" data-target="#navbarNavDropdown">
                                <i class="fas fa-arrow-left"></i><small>fechar</small>
                            </button>
                        </div>
                    </div>
                    <div class="container">
                        <!-- NOVA BUSCA --><div class="search_box">
                                <div class="search">
                                    <div class="search-group">
                                        <div class="search-group__row">
                                            <div class="search-group__select-item active" data-fin="venda">Compre</div>
                                            <a class="search-group__select-item link" href="https://api.whatsapp.com/send/?phone=5521982379401&text&type=phone_number&app_absent=0" target="_blank">Venda seu Imóvel</a>
                                        </div>


                                        <div class="search-group__row search-group__row--with-shadow"><div class="search-group__field-container basis--flex-big search-group__field-container--radius-left search-group__field-container--marker">
                                            <div class="search-group__field-container-icon"></div>                                          
                                            <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                                            <span class="selection">
                                                <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                                                    <form method="get" action="@Url.Action("Pesquisar", "Home")" id="formPesquisa">
                                                        <ul class="select2-selection__rendered">


                                                            <li class="select2-search select2-search--inline" style="display:inline-block">
                                                                @*<form method="get" action="@Url.Action("Pesquisar", "Home")">*@
                                                                <label for="termoPesquisa"></label>
                                                                <input class="select2-search__field" type="search" tabindex="0" autocomplete="on" autocorrect="on" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Digite o Bairro" style="width: 315.078px;" name="bairroPesquisa" />

                                                                @*</form>*@
                                                            </li>
                                                            <li class="select2-search select2-search--inline" style="display:inline-block">
                                                                @*<form method="get" action="@Url.Action("Pesquisar", "Home")">*@
                                                                <label for="termoPesquisa"></label>
                                                                <input class="select2-search__field" type="search" tabindex="0" autocomplete="on" autocorrect="on" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Digite a região" style="width: 315.078px;" name="regiaoPesquisa" />

                                                                @*</form>*@
                                                            </li>
                                                            <li class="select2-search select2-search--inline" style="display:inline-block">
                                                                @*<form method="get" action="@Url.Action("Pesquisar", "Home")">*@
                                                                <label for="termoPesquisa"></label>
                                                                <input class="select2-search__field" type="search" tabindex="0" autocomplete="on" autocorrect="on" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Digite o tipo" style="width: 315.078px;" name="tipoPesquisa" />

                                                                @*</form>*@
                                                            </li>
                                                            

                                                        </ul>
                                                    </form>
                                                        </span></span></span></div>
                                        <button class="search-group__button basis--flex-small search-group__field-container--radius-right btn-buscar" id="btnFiltro" type="button"></button></div>

                                        <!--div class="search-group__row search-group__row--with-shadow">
        <div class="search-group__field-container basis--flex-big search-group__field-container--radius-left search-group__field-container--marker">
            <div class="search-group__field-container-icon"></div>
            <span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;">
                <span class="selection">
                    <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                        <ul class="select2-selection__rendered">

                            <li class="select2-search select2-search--inline">
                                <form method="get" action="@Url.Action("Pesquisar", "Home")">
                                    <label for="
                                            "></label>
                                    <input class="select2-search__field" type="search" tabindex="0" autocomplete="on" autocorrect="on" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Digite o tipo de imóvel" style="width: 315.078px;" name="termoPesquisa" />

                                </form>
                            </li>-->
                                        @*<li class="select2-search select2-search--inline">
            <form method="get" action="@Url.Action("Pesquisar", "Home")">
                <label for="termoPesquisa"></label>
                <input class="select2-search__field" type="search" tabindex="0" autocomplete="on" autocorrect="on" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Digite o bairro" style="width: 315.078px;" name="termoPesquisa" />

            </form>
        </li>*@
                                        <!--</ul>-->
                                        @*<div class="search-group__field-container basis--flex-med  search-group__field-container--home">
            <div class="search-group__field-container-icon"></div>
            <select class="select-filtro-lateral" data-filtro="InputsTipos" id="Tipos">
                <option value="" data-value="">Todos os imóveis</option>
                <optgroup label="Residencial" data-i="1"><option value="apartamento" data-target="Tipos" data-tag="Apartamento">Apartamento</option><option value="cobertura" data-target="Tipos" data-tag="Cobertura">Cobertura</option><option value="casa" data-target="Tipos" data-tag="Casa">Casa</option><option value="lancamentos" data-target="Tipos" data-tag="lancamentos">Lançamentos</option><option value="naPlanta" data-target="Tipos" data-tag="planta">Na Planta</option></optgroup>
            </select>
        </div>*@
                                        <!--<button class="search-group__button basis--flex-small search-group__field-container--radius-right btn-buscar" type="submit"></button>
                    </span>
                </span>
                <span class="dropdown-wrapper" aria-hidden="true"></span>
            </span>
        </div>

    </div>-->
                                    </div><!-- TOP --><!-- /TOP -->
                                </div>
                        </div>
                    </div>
                </div>
                <script>
                    window.addEventListener('DOMContentLoaded', function () {

                        $(document).ready(function () {
                            $("#slider_home").lightSlider({
                                auto: true,
                                loop: true,
                                keyPress: true,
                                item: 1,
                                // pause é a duração de cada slide (ms)
                                pause: 10000000000000,
                                onSliderLoad: function () {
                                    $(".load_slider").fadeOut(800);
                                },
                                onBeforeSlide: function () {
                                    var change_slide_bLazy = new Blazy({ selector: '.lazyload_slide', src: 'data-blazy' });
                                }
                            });
                        });

                    });
                </script>
                <div class="corpo">

                    <div class="vitrine emp_vitrine home-vitrine-imoveis" id="home-vitrine-imoveis">
                        <div class="container">
                            <h2 class="title">Imóveis à venda em destaque</h2><div class="product_item_sec row mx-0">
                                <div class="col-sm-12 px-0">
                                    <div id="owl-home-vitrine3" class="owl-carousel owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2260px;">
                                                @foreach (var item in Model)
                                                {
                                                    @*<a href="@Url.Action("Imovel001", "Imoveis", new { codigo = item.ID })"></a>*@
                                                    <div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                                        <div class="product_itemBx mb-4 item-id-8665" onclick="window.location.href='@Url.Action("Imovel", "Imoveis", new { codigo = item.ID })'" style="cursor:pointer;">
                                                            <!-- item unico --><div class="product_itemBxTop">
                                                                <a class="vit_link_foto">
                                                                    <div class="pdct_pic">
                                                                        <div class="vitrine-venda-img owl-lazy" data-src="" style="background-image: url(@item.Capa); opacity: 1;">
                                                                            <div class="hover_img"></div>
                                                                            <div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> @item.Bairro</span></div>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="product_itemBxBot">
                                                                <div class="tipos"><span>@item.Tipo</span></div>
                                                                <h3>@item.Titulo</h3>
                                                                <div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                    <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">@item.Quartos</div></div>
                                                                    <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">@item.Banheiros</div></div>
                                                                    <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">@item.Vagas</div></div>
                                                                    <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                            <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                        </svg><div class="qtd">@item.Area</div>
                                                                    </div>
                                                                </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>@String.Format("{0:#,0}", item.Valor)</div></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="owl-nav "><div class="owl-prev "></div><div class="owl-next"></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        window.addEventListener('DOMContentLoaded', function () {

                            function link(link) {
                                debugger
                                window.location.href = link;
                            }

                            $(document).ready(function () {
                                $('#btnFiltro').click(function () {
                                    $('#formPesquisa').submit()
                                });

                                var owl_home_vitrine = $("#owl-home-vitrine3");

                                owl_home_vitrine.owlCarousel({
                                    onInitialized: function (element) {
                                        $('#home-vitrine-imoveis').removeClass('d-none');
                                        setTimeout(function () {
                                            imageToSvgData();
                                        }, 3000);
                                    },
                                    loop: false,
                                    margin: 20,
                                    nav: true,
                                    lazyLoad: true,
                                    navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
                                    items: 4,
                                    responsive: {
                                        300: {
                                            items: 1,
                                            // nav:true
                                            margin: 5
                                        },
                                        700: {
                                            items: 2,
                                            // nav:true
                                        },
                                        1000: {
                                            items: 3,
                                            // nav:true
                                        },
                                        1200: {
                                            items: 4,

                                        },
                                        1400: {
                                            items: 4,

                                        },
                                        1600: {
                                            items: 4,

                                        }
                                    }

                                });
                            });
                        });
                    </script>
                    <br />

                    <div class="container banner-meio"><ul id="slider_home-meio"><a href="/Imoveis/Lancamentos" target="_blank" title=""><li><div class="image-box " style="background-image: url(/Content/img/latitud.png); background-repeat: no-repeat; background-position: center center; background-size: cover;"></div></li></a></ul></div>
                    @*<div class="vitrine emp_vitrine home-vitrine-imoveis" id="home-vitrine-imoveis"><div class="container"><h2 class="title"></h2><div class="product_item_sec row mx-0"><div class="col-sm-12 px-0"><div id="owl-home-vitrine4" class="owl-carousel owl-loaded owl-drag"><div class="owl-stage-outer"><div class="owl-stage"></div></div><div class="owl-nav"><div class="owl-prev"><i class="fas fa-chevron-left"></i></div><div class="owl-next"><i class="fas fa-chevron-right"></i></div></div><div class="owl-dots"></div></div></div></div></div></div>*@
                    <br />
                    <hr />
                    <section id="places_home">
                        <div class="container">
                            <section class="nav_vit"><h2 class="title text-center" style="color: #5f5f5e; font-size:22px; font-weight:900; text-align:center">Destaques</h2><p>Caso ainda não tenha achado o imóvel perfeito para você, aproveite para dar uma olhada nos imóveis com mais destaque separados abaixo:</p></section><section class="content_places content_bairros show">
                                <div class="row">
                                    <ul>
                                        @foreach (var item in Model)
                                        {
                                            <li onclick="window.location.href='@Url.Action("Imovel", "Imoveis", new { codigo = item.ID })'">
                                                <span>
                                                    @item.Titulo
                                                </span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </section>
                            <br />
                            <hr />
                            <br />

                            <h2 class="title text-center" style="color:#5f5f5e; font-size:22px; font-weight:900">Instagram</h2>
                            <br />
                            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                            <div class="elfsight-app-bb08a8fa-132e-46cc-8c1e-4ea65a22c519" data-elfsight-app-lazy></div>
                        </div>
                    </section>
                    @*<script>
                            window.addEventListener('DOMContentLoaded', function () {

                                $('[data-tag-params]').click(function () {

                                    var data = $(this).attr('data-tag-params');
                                    var obj = JSON.parse(data);

                                    if (obj.Tipos !== undefined && obj.Tipos.length > 0) {
                                        obj.Tipos = obj.Tipos.join(',');
                                        obj.Tipos = obj.Tipos.toLowerCase();
                                    }

                                    if (obj.QtdQuarto !== undefined && obj.QtdQuarto.length > 0) {
                                        obj.QtdQuarto = obj.QtdQuarto.join(',');
                                    }

                                    if (obj.UF !== undefined && obj.UF.length > 0) {
                                        obj.UF = obj.UF.join(',');
                                    }

                                    var busca = JSON.stringify(obj);
                                    window.location.href = "/venda/imoveis?busca=" + busca;
                                })
                            });

                        </script>*@

                    <script>
                        
                        
                        window.addEventListener('DOMContentLoaded', function () {

                            // Função que abre e fecha o chat
                            var callChat = function callChat() {
                                $('#prechat').toggleClass('chat_oppened');
                            }

                            // exportando função para usar no onclick
                            window.callChat = callChat;

                            $('.form_prechat').submit(function (e) {
                                e.preventDefault();

                                var url = "";
                                var form = $(this);

                                var unindexed_array = form.serializeArray();
                                var indexed_array = IndexDataForm(unindexed_array);

                                var url_whatsapp = "https://wa.me/5521981291001?text=Olá!"

                                form.css("opacity", "0.5");
                                form.find('button[type=submit]').attr("disabled", "disabled");

                                // prepara os valores
                                var data = {
                                    Tag: indexed_array.Tag,  // tag ou id do formulátio (crm_formulario)
                                    Email: indexed_array.Email,  // Obrigatório!
                                    Nome: indexed_array.Nome, // Obrigatório!
                                    Assunto: 'Pré Chat - Atendimento Online',  // Obrigatório!
                                    Mensagem: 'Novo Contato no Pré-Chat do Atendimento Online',  // Obrigatório!
                                    TelResidencial: indexed_array.TelResidencial,
                                    values: JSON.stringify({}) // Obrigatório!
                                };

                                // envia para a API
                                $.ajax({
                                    method: "POST",
                                    url: url,
                                    data: data
                                })
                                    .done(function (resp) {
                                        console.log(resp);

                                        form.css("opacity", "1");
                                        form.find('button[type=submit]').prop('disabled', false);
                                        document.querySelector('.form_prechat').reset();
                                        window.open(url_whatsapp, '_blank');

                                    })
                                    .fail(function (resp) {
                                        console.log("erro de consumo da api");
                                        console.log(resp);
                                        $('.footer_chat small').html('Serviço indisponivel, tente novamente em alguns instantes.');
                                    });
                            });


                        });

                    </script>
                </div>
            </div>
        </section>
    </div>

</div>