@model List<Fernanda.Models.ImovelCode>
@{
    ViewData["Title"] = "Home Page";
}

@*<div class="jumbotron">
    <h1 class="display-4">FUNCIONA PELO AMOR DE DEUS</h1>
</div>
<div class="col-md-12">
    <table class="table tabletable-striped">
        <thead>
            <tr>
                <td>Titulo</td>
                <td>Quartos</td>
                <td>Banheiros</td>
                <td>Vagas</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Titulo</td>
                    <td>@item.Quartos</td>
                    <td>@item.Banheiros</td>
                    <td>@item.Vagas</td>
                </tr>
            }
        </tbody>
    </table>
</div>*@

<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header d-none d-xl-block"><div class="wrapper_bread"><div class="container"></div></div></section><section class="content">
            <div class="spark-screen">
                <div class="banner">
                    <div id="content-slider">
                        <div class="lSSlideOuter ">
                        <div class="lSSlideWrapper usingCss">
                            <ul id="slider_home" class="lightSlider lsGrab lSSlide" style="width: 7496px; height: 580px; padding-bottom: 0%; background-size:100%; background-image: url(/Content/img/source.jpg);">                           
                            <li class="lslide " style="width: 2264px; margin-right: 10px;">
                                <div class="image-box  lazyload_slide b-loaded" style="background-repeat: no-repeat; background-position: center center; background-size: 100%; background-image: url(/Content/img/nanda.jpg);">
                                <div class="text_banner"><div class="container"><a href=""><h1>Juntos, encontramos os melhores imóveis para você e sua família viverem momentos inesquecíveis.</h1>
                                    <div class="subtitulo"><p style="text-align: center;"><br />
    Venda de imóveis de Lançamento e na Planta, novos e usados.<br />
    Imóveis de categoria Médio, Intermediário e Alto padrão.<br />
    Região da Zona Norte, Zona Oeste e Zona Sul do Rio de Janeiro.
</p></div></a></div></div></div></li>
                            </ul></div>
                        @*<ul class="lSPager lSpg" style="margin-top: 5px;">
                            <li class=""><a href="#">2</a></li></ul>*@</div>   
                    </div>
                </div>

                <br>

                <div class="container-busca-avancada"><div class="content_close_mobile_busca d-md-none"><div class="container"><button type="button" class="close_mobile_busca d-md-none" data-target="#navbarNavDropdown"><i class="fas fa-arrow-left"></i><small>fechar</small></button></div></div><div class="container"><!-- NOVA BUSCA --><div class="search_box"><form name="main-search" class="search-form" id="main-search"><!-- OBRIGATORIO --><input type="hidden" id="InputsFinalidade" name="Finalidade" value="venda"><input type="hidden" id="InputsValorMin" name="ValorMin" value=""><input type="hidden" id="InputsValorMax" name="ValorMax" value=""><input type="hidden" id="InputsAreaMin" name="AreaMin" value=""><input type="hidden" id="InputsAreaMax" name="AreaMax" value=""><input type="hidden" id="InputsQtdQuarto" name="QtdQuarto" value=""><input type="hidden" id="InputsQtdSuite" name="QtdSuite" value=""><input type="hidden" id="InputsQtdBanheiro" name="QtdBanheiro" value=""><input type="hidden" id="InputsQtdVaga" name="QtdVaga" value=""><input type="hidden" id="InputsTipos" name="Tipos" value=""><input type="hidden" id="InputsCondominioNome" name="CondominioNome" value=""><input type="hidden" id="InputsEmpreendimentoNome" name="EmpreendimentoNome" value=""><input type="hidden" id="InputsCaracteristica" name="Caracteristica" value="[]"><input type="hidden" id="InputsAnuncio" name="Anuncio" value="[]"><input type="hidden" id="InputsAutoSuggest" name="AutoSuggest" value=""><input type="hidden" id="InputsUF" name="UF" value=""><input type="hidden" id="InputsHasMapa" name="HasMapa" value="false"><input type="hidden" id="InputsOrder" name="Order" value=""><input type="hidden" id="InputsActualPage" name="Page" value="1"><input type="hidden" id="InputsPageSize" name="PageSize" value="10"><input type="hidden" id="InputsCorretor" name="NomeCorretor" value=""><input type="hidden" id="InputsSimilares" name="carregarSimilares" value="true"><input type="hidden" id="InputsSomenteImoveis" name="SomenteImoveis" value="true"><div class="search"><div class="search-group"><div class="search-group__row"><div class="search-group__select-item active" data-fin="venda">Compre</div><div class="search-group__select-item active " data-fin="aluguel">Alugue</div><a class="search-group__select-item link" href="https://api.whatsapp.com/send/?phone=5521982379401&text&type=phone_number&app_absent=0" target="_blank">Venda seu Imóvel</a></div><div class="search-group__row search-group__row--with-shadow"><div class="search-group__field-container basis--flex-big search-group__field-container--radius-left search-group__field-container--marker"><div class="search-group__field-container-icon"></div><select id="AutoSuggest" style="width:100%;display:none;" multiple="" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true"></select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Digite a cidade, bairro ou empreendimento..." style="width: 636.078px;"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span></div><div class="search-group__field-container basis--flex-med  search-group__field-container--home"><div class="search-group__field-container-icon"></div><select class="select-filtro-lateral" data-filtro="InputsTipos" id="Tipos"><option value="" data-value="">Todos os imóveis</option><optgroup label="Residencial" data-i="1"><option value="apartamento" data-target="Tipos" data-tag="Apartamento">Apartamento</option><option value="cobertura" data-target="Tipos" data-tag="Cobertura">Cobertura</option><option value="casa" data-target="Tipos" data-tag="Casa">Casa</option><option value="terreno" data-target="Tipos" data-tag="Terreno">Terreno</option><option value="flat" data-target="Tipos" data-tag="Flat">Flat</option><option value="casa de vila" data-target="Tipos" data-tag="Casa de Vila">Casa de Vila</option><option value="sobrado" data-target="Tipos" data-tag="Sobrado">Sobrado</option><option value="conjugado" data-target="Tipos" data-tag="Conjugado">Conjugado</option><option value="studio" data-target="Tipos" data-tag="Studio">Studio</option><option value="kitnet" data-target="Tipos" data-tag="Kitnet">Kitnet</option></optgroup><optgroup label="Comercial" data-i="2"><option value="sala" data-target="Tipos" data-tag="Sala">Sala</option><option value="prédio comercial" data-target="Tipos" data-tag="Prédio Comercial">Prédio Comercial</option><option value="loja" data-target="Tipos" data-tag="Loja">Loja</option><option value="prédio" data-target="Tipos" data-tag="Prédio">Prédio</option><option value="andar" data-target="Tipos" data-tag="Andar">Andar</option><option value="sobreloja" data-target="Tipos" data-tag="Sobreloja">Sobreloja</option><option value="galpão" data-target="Tipos" data-tag="Galpão">Galpão</option><option value="conjunto comercial" data-target="Tipos" data-tag="Conjunto Comercial">Conjunto Comercial</option><option value="box/garagem" data-target="Tipos" data-tag="Box/Garagem">Box/Garagem</option><option value="pousada" data-target="Tipos" data-tag="Pousada">Pousada</option></optgroup><optgroup label="Rural" data-i="3"><option value="sítio" data-target="Tipos" data-tag="Sítio">Sítio</option></optgroup></select></div><button onclick="doSearch(false)" class="search-group__button basis--flex-small search-group__field-container--radius-right btn-buscar"></button></div></div><!-- TOP --><!-- /TOP --></div></form></div></div></div><!-- NOVA BUSCA -->
<script>
    window.addEventListener('DOMContentLoaded', function () {
        $(document).ready(function () {

            var bt_busca = $("#bt-busca-avancada");

            $("#toggle-busca-avancada").click(function () {
                $("#toggle-busca-avancada .fa-caret-down").toggleClass("fa-rotate-180");
                $("#busca-avancada-box").slideToggle("slow", function () {
                    //Animation complete.
                    if (bt_busca.hasClass('disabled')) {
                        bt_busca.toggleClass('disabled').attr('onclick', 'doSearch()');
                    } else {
                        bt_busca.toggleClass('disabled').removeAttr('onclick');
                    }
                });
            });

            $('.close_busca_avanc').click(function () {
                $("#busca-avancada-box").slideToggle("slow", function () {
                    //Animation complete.
                    $("#toggle-busca-avancada .fa-caret-down").toggleClass("fa-rotate-180");
                    bt_busca.toggleClass('disabled').attr('onclick', 'doSearch()');
                });
            });


            $('[data-fin]').click(function () {
                var _this = $(this);
                var fin = $(this).attr('data-fin');

                $('#InputsFinalidade').val(fin);
                $('[data-fin]').removeClass('active');
                _this.addClass('active');
            })

        });
    });
</script>
                <script>
                    window.addEventListener('DOMContentLoaded', function () {

                        $(document).ready(function () {
                            $("#slider_home").lightSlider({
                                auto: true,
                                loop: true,
                                keyPress: true,
                                item: 1,
                                // pause é a duração de cada slide (ms)
                                pause: 10000000000000,
                                onSliderLoad: function () {
                                    $(".load_slider").fadeOut(800);
                                },
                                onBeforeSlide: function () {
                                    var change_slide_bLazy = new Blazy({ selector: '.lazyload_slide', src: 'data-blazy' });
                                }
                            });
                        });

                    });
                </script>
                <div class="corpo">
                    <script>
                        window.addEventListener('DOMContentLoaded', function () {
                            $(document).ready(function () {
                                var owl_home_vitrine = $("#owl-home-vitrine2");

                                owl_home_vitrine.owlCarousel({
                                    onInitialized: function (element) {
                                        $('#home-vitrine-empreendimentos').removeClass('d-none');
                                        setTimeout(function () {
                                            imageToSvgData();
                                        }, 3000);
                                    },
                                    loop: false,
                                    margin: 20,
                                    nav: true,
                                    lazyLoad: true,
                                    navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
                                    items: 4,
                                    responsive: {
                                        300: {
                                            items: 1,
                                            // nav:true
                                            margin: 5
                                        },
                                        700: {
                                            items: 2,
                                            // nav:true
                                        },
                                        1000: {
                                            items: 3,
                                            // nav:true
                                        },
                                        1200: {
                                            items: 4,

                                        },
                                        1400: {
                                            items: 4,

                                        },
                                        1600: {
                                            items: 4,

                                        }
                                    }

                                });
                            });
                        });
                    </script>
                    <div class="vitrine emp_vitrine home-vitrine-imoveis" id="home-vitrine-imoveis">
                        <div class="container">
                            <h2 class="title">Imóveis à venda em destaque</h2><div class="product_item_sec row mx-0">
                                <div class="col-sm-12 px-0">
                                    <div id="owl-home-vitrine3" class="owl-carousel owl-loaded owl-drag">
                                        <div class="owl-stage-outer">
                                            <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2260px;">
                                                <div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-8665" onclick="window.location.href='/imovel/venda+casa+5-quartos+barra-da-tijuca+rio-de-janeiro+rj+1533m2+rs16900000/ID-8665'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src="" style="background-image: url(/Content/img/capa.png); opacity: 1;"><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Barra da Tijuca</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Casa</span></div><h3>

                                                                Casa

                                                                para

                                                                venda

                                                                com 5
                                                                Quartos

                                                                sendo 5 Suites
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">5</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">5</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">4</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">1533 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>16.900.000</div></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-25396" onclick="window.location.href='/imovel/venda+apartamento+3-quartos+ipanema+rio-de-janeiro+rj+169m2+rs3050000/ID-25396'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src="" style="background-image: url(/Content/img/capa.png); opacity: 1;"><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Ipanema</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Apartamento</span></div><h3>
                                                                Apartamento

                                                                para

                                                                venda

                                                                com 3
                                                                Quartos

                                                                sendo 1 Suíte
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">1</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">1</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">169 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>3.050.000</div></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-25547" onclick="window.location.href='/imovel/venda+apartamento+4-quartos+barra-da-tijuca+rio-de-janeiro+rj+180m2+rs2390000/ID-25547'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src="" style="background-image: url(/Content/img/capa.png); opacity: 1;"><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Barra da Tijuca</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Apartamento</span></div><h3>
                                                                Apartamento

                                                                para

                                                                venda

                                                                com 4
                                                                Quartos

                                                                sendo 3 Suites
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">4</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">180 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>2.390.000</div></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item active" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-25463" onclick="window.location.href='/imovel/venda+apartamento+4-quartos+leblon+rio-de-janeiro+rj+170m2+rs3200000/ID-25463'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src="" style="background-image: url(/Content/img/capa.png); opacity: 1;"><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Leblon</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Apartamento</span></div><h3>
                                                                Apartamento

                                                                para

                                                                venda

                                                                com 4
                                                                Quartos

                                                                sendo 1 Suíte
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">4</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">1</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">170 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>3.200.000</div></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-8545" onclick="window.location.href='/imovel/venda+apartamento+4-quartos+barra-da-tijuca+rio-de-janeiro+rj+435m2+rs6499900/ID-8545'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src="/Content/img/capa.png"><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Barra da Tijuca</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Apartamento</span></div><h3>
                                                                Apartamento

                                                                para

                                                                venda

                                                                com 4
                                                                Quartos

                                                                sendo 4 Suites
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">4</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">4</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">4</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">435 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>6.499.900</div></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-14000" onclick="window.location.href='/imovel/venda+apartamento+3-quartos+lagoa+rio-de-janeiro+rj+240m2+rs3150000/ID-14000'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src=""><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Lagoa</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Apartamento</span></div><h3>
                                                                Apartamento

                                                                para

                                                                venda

                                                                com 3
                                                                Quartos

                                                                sendo 3 Suites
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">2</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">240 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>3.150.000</div></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-25464" onclick="window.location.href='/imovel/venda+apartamento+3-quartos+barra-da-tijuca+rio-de-janeiro+rj+110m2+rs1480000/ID-25464'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src=""><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Barra da Tijuca</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Apartamento</span></div><h3>
                                                                Apartamento

                                                                para

                                                                venda

                                                                com 3
                                                                Quartos

                                                                sendo 1 Suíte
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">1</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">2</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">110 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>1.480.000</div></div>
                                                        </div>
                                                    </div>
                                                </div><div class="owl-item" style="width: 262.5px; margin-right: 20px;">
                                                    <div class="product_itemBx mb-4 item-id-24841" onclick="window.location.href='/imovel/venda+apartamento+4-quartos+barra-da-tijuca+rio-de-janeiro+rj+154m2+rs2140600/ID-24841'" style="cursor:pointer;">
                                                        <!-- item unico --><div class="product_itemBxTop"><a class="vit_link_foto"><div class="pdct_pic"><div class="vitrine-venda-img owl-lazy" data-src="/Content/img/capa.png"><div class="hover_img"></div><div class="statustag tag_obra"><span class="text"><i class="fas fa-map-marker-alt"></i> Barra da Tijuca</span></div></div></div></a></div><div class="product_itemBxBot">
                                                            <div class="tipos"><span>Apartamento</span></div><h3>
                                                                Apartamento

                                                                para

                                                                venda

                                                                com 4
                                                                Quartos

                                                                sendo 2 Suites
                                                            </h3><div class="content_imv_caract mx-0" style="min-height:65px;">
                                                                <div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Quartos"><i class="fas fa-bed"></i><div class="qtd">4</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Suítes"><i class="fas fa-bath"></i><div class="qtd">2</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Vagas"><i class="fas fa-car"></i><div class="qtd">3</div></div><div class="item wt-50" data-toggle="tooltip" title="" data-original-title="Área">
                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="20.46" height="20.46" viewBox="0 0 20.46 20.46" class="tosvgdata replaced-svg">
                                                                        <path id="vector-square" d="M20.46,5.115V1.279A1.279,1.279,0,0,0,19.182,0H15.345a1.279,1.279,0,0,0-1.279,1.279H6.394A1.279,1.279,0,0,0,5.115,0H1.279A1.279,1.279,0,0,0,0,1.279V5.115A1.279,1.279,0,0,0,1.279,6.394v7.673A1.279,1.279,0,0,0,0,15.345v3.836A1.279,1.279,0,0,0,1.279,20.46H5.115a1.279,1.279,0,0,0,1.279-1.279h7.673a1.279,1.279,0,0,0,1.279,1.279h3.836a1.279,1.279,0,0,0,1.279-1.279V15.345a1.279,1.279,0,0,0-1.279-1.279V6.394A1.279,1.279,0,0,0,20.46,5.115ZM16.624,2.558H17.9V3.836H16.624Zm-14.067,0H3.836V3.836H2.558ZM3.836,17.9H2.558V16.624H3.836Zm14.067,0H16.624V16.624H17.9Zm-1.279-3.836H15.345a1.279,1.279,0,0,0-1.279,1.279v1.279H6.394V15.345a1.279,1.279,0,0,0-1.279-1.279H3.836V6.394H5.115A1.279,1.279,0,0,0,6.394,5.115V3.836h7.673V5.115a1.279,1.279,0,0,0,1.279,1.279h1.279Z"></path>
                                                                    </svg><div class="qtd">154 m²</div>
                                                                </div>
                                                            </div><div class="valor px-1 d-flex text-left"><div><small>R$ </small>2.140.600</div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-nav"><div class="owl-prev disabled"><i class="fas fa-chevron-left"></i></div><div class="owl-next"><i class="fas fa-chevron-right"></i></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*<div class="col-md-12"> 
                        @foreach (var item in Model)
                        {
                            <div class="card" style="width: 262.5px; margin-right: 20px;">
                                <div class="product_itemBx mb-4 item-id-24841" onclick="window.location.href='/imovel/venda+apartamento+4-quartos+barra-da-tijuca+rio-de-janeiro+rj+154m2+rs2140600/ID-24841'" style="cursor:pointer;">

                                    <span>@item.Titulo</span>
                                    <span>@item.Titulo</span>
                                    <span>@item.Quartos</span>
                                </div>
                            </div>
                        }
                    </div>*@








                            <script>
                                window.addEventListener('DOMContentLoaded', function () {

                                    function link(link) {
                                        debugger
                                        window.location.href = link;
                                    }

                                    $(document).ready(function () {
                                        var owl_home_vitrine = $("#owl-home-vitrine3");

                                        owl_home_vitrine.owlCarousel({
                                            onInitialized: function (element) {
                                                $('#home-vitrine-imoveis').removeClass('d-none');
                                                setTimeout(function () {
                                                    imageToSvgData();
                                                }, 3000);
                                            },
                                            loop: false,
                                            margin: 20,
                                            nav: true,
                                            lazyLoad: true,
                                            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
                                            items: 4,
                                            responsive: {
                                                300: {
                                                    items: 1,
                                                    // nav:true
                                                    margin: 5
                                                },
                                                700: {
                                                    items: 2,
                                                    // nav:true
                                                },
                                                1000: {
                                                    items: 3,
                                                    // nav:true
                                                },
                                                1200: {
                                                    items: 4,

                                                },
                                                1400: {
                                                    items: 4,

                                                },
                                                1600: {
                                                    items: 4,

                                                }
                                            }

                                        });
                                    });
                                });
                            </script><div class="vitrine emp_vitrine home-vitrine-imoveis" id="home-vitrine-imoveis"><div class="container"><h2 class="title"></h2><div class="product_item_sec row mx-0"><div class="col-sm-12 px-0"><div id="owl-home-vitrine4" class="owl-carousel owl-loaded owl-drag"><div class="owl-stage-outer"><div class="owl-stage"></div></div><div class="owl-nav disabled"><div class="owl-prev"><i class="fas fa-chevron-left"></i></div><div class="owl-next"><i class="fas fa-chevron-right"></i></div></div><div class="owl-dots disabled"></div></div></div></div></div></div>
                            <script>
                                window.addEventListener('DOMContentLoaded', function () {

                                    function link(link) {
                                        debugger
                                        window.location.href = link;
                                    }

                                    $(document).ready(function () {
                                        var owl_home_vitrine = $("#owl-home-vitrine4");

                                        owl_home_vitrine.owlCarousel({
                                            onInitialized: function (element) {
                                                $('#home-vitrine-imoveis').removeClass('d-none');
                                                setTimeout(function () {
                                                    imageToSvgData();
                                                }, 3000);
                                            },
                                            loop: false,
                                            margin: 20,
                                            nav: true,
                                            lazyLoad: true,
                                            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
                                            items: 4,
                                            responsive: {
                                                300: {
                                                    items: 1,
                                                    // nav:true
                                                    margin: 5
                                                },
                                                700: {
                                                    items: 2,
                                                    // nav:true
                                                },
                                                1000: {
                                                    items: 3,
                                                    // nav:true
                                                },
                                                1200: {
                                                    items: 4,

                                                },
                                                1400: {
                                                    items: 4,

                                                },
                                                1600: {
                                                    items: 4,

                                                }
                                            }

                                        });
                                    });
                                });
                            </script>
                            <div class="vitrine emp_vitrine home-vitrine-imoveis" id="home-vitrine-imoveis-3">
                                
                            </div>
                            <script>
                                window.addEventListener('DOMContentLoaded', function () {

                                    function link(link) {
                                        debugger
                                        window.location.href = link;
                                    }

                                    $(document).ready(function () {
                                        var owl_home_vitrine = $("#owl-home-vitrine");

                                        owl_home_vitrine.owlCarousel({
                                            onInitialized: function (element) {
                                                $('#home-vitrine-imoveis-3').removeClass('d-none');
                                                setTimeout(function () {
                                                    imageToSvgData();
                                                }, 3000);
                                            },
                                            loop: false,
                                            margin: 20,
                                            nav: true,
                                            lazyLoad: true,
                                            navText: ['<i class="fas fa-chevron-left"></i>', '<i class="fas fa-chevron-right"></i>'],
                                            items: 4,
                                            responsive: {
                                                300: {
                                                    items: 1,
                                                    // nav:true
                                                    margin: 5
                                                },
                                                700: {
                                                    items: 2,
                                                    // nav:true
                                                },
                                                1000: {
                                                    items: 3,
                                                    // nav:true
                                                },
                                                1200: {
                                                    items: 4,

                                                },
                                                1400: {
                                                    items: 4,

                                                },
                                                1600: {
                                                    items: 4,

                                                }
                                            }

                                        });
                                    });
                                });
                            </script><section id="places_home">
                                <div class="container">
                                    <section class="nav_vit"><h2>Imóveis em destaque</h2><p>Se você ainda não encontrou seu imóvel, podemos facilitar sua busca através dos bairros mais procurados do site.</p></section><section class="content_places content_bairros show">
                                        <div class="row">
                                            <ul>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+copacabana&quot;,&quot;Nome&quot;:&quot;Copacabana, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:2,&quot;Bairro&quot;:&quot;Copacabana&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;3&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Copacabana com 3 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+barra-da-tijuca&quot;,&quot;Nome&quot;:&quot;Barra da Tijuca, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:8,&quot;Bairro&quot;:&quot;Barra da Tijuca&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;3&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Barra da Tijuca com 3 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+barra-da-tijuca&quot;,&quot;Nome&quot;:&quot;Barra da Tijuca, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:8,&quot;Bairro&quot;:&quot;Barra da Tijuca&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;4&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Barra da Tijuca com 4 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+barra-da-tijuca&quot;,&quot;Nome&quot;:&quot;Barra da Tijuca, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:8,&quot;Bairro&quot;:&quot;Barra da Tijuca&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;2&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Barra da Tijuca com 2 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+copacabana&quot;,&quot;Nome&quot;:&quot;Copacabana, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:2,&quot;Bairro&quot;:&quot;Copacabana&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;2&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Copacabana com 2 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+copacabana&quot;,&quot;Nome&quot;:&quot;Copacabana, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:2,&quot;Bairro&quot;:&quot;Copacabana&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;1&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Copacabana com 1 Quarto
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+copacabana&quot;,&quot;Nome&quot;:&quot;Copacabana, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:2,&quot;Bairro&quot;:&quot;Copacabana&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;4&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Copacabana com 4 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+ipanema&quot;,&quot;Nome&quot;:&quot;Ipanema, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:6,&quot;Bairro&quot;:&quot;Ipanema&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;3&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Ipanema com 3 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Conjunto Comercial&quot;],&quot;UF&quot;:[&quot;SP&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+sp+sao-paulo+vila-olimpia&quot;,&quot;Nome&quot;:&quot;Vila Ol\u00edmpia, S\u00e3o Paulo - SP&quot;,&quot;BairroID&quot;:226,&quot;Bairro&quot;:&quot;Vila Ol\u00edmpia&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:20,&quot;Cidade&quot;:&quot;S\u00e3o Paulo&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;SP&quot;}],&quot;QtdQuarto&quot;:[null]}">
                                                    <span>
                                                        + Conjunto Comercial
                                                        em Vila Olímpia com  Quarto
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Sala&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+barra-da-tijuca&quot;,&quot;Nome&quot;:&quot;Barra da Tijuca, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:8,&quot;Bairro&quot;:&quot;Barra da Tijuca&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[null]}">
                                                    <span>
                                                        + Sala
                                                        em Barra da Tijuca com  Quarto
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;SP&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+sp+sao-paulo+itaim-bibi&quot;,&quot;Nome&quot;:&quot;Itaim Bibi, S\u00e3o Paulo - SP&quot;,&quot;BairroID&quot;:221,&quot;Bairro&quot;:&quot;Itaim Bibi&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:20,&quot;Cidade&quot;:&quot;S\u00e3o Paulo&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;SP&quot;}],&quot;QtdQuarto&quot;:[&quot;3&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Itaim Bibi com 3 Quartos
                                                    </span>
                                                </li>
                                                <li data-tag-params="{&quot;Tipos&quot;:[&quot;Apartamento&quot;],&quot;UF&quot;:[&quot;RJ&quot;],&quot;AutoSuggest&quot;:[{&quot;SuggestTipo&quot;:5,&quot;SuggestTipoAsString&quot;:&quot;Bairro&quot;,&quot;Tag&quot;:&quot;bairro+rj+rio-de-janeiro+botafogo&quot;,&quot;Nome&quot;:&quot;Botafogo, Rio de Janeiro - RJ&quot;,&quot;BairroID&quot;:4,&quot;Bairro&quot;:&quot;Botafogo&quot;,&quot;Zona&quot;:null,&quot;CidadeID&quot;:1,&quot;Cidade&quot;:&quot;Rio de Janeiro&quot;,&quot;Empreendimento&quot;:null,&quot;Condominio&quot;:null,&quot;AgrupamentoID&quot;:null,&quot;Agrupamento&quot;:null,&quot;Estado&quot;:&quot;RJ&quot;}],&quot;QtdQuarto&quot;:[&quot;3&quot;]}">
                                                    <span>
                                                        + Apartamento
                                                        em Botafogo com 3 Quartos
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                    </section>
                                </div>
                            </section>
                            <script>
                                window.addEventListener('DOMContentLoaded', function () {

                                    $('[data-tag-params]').click(function () {

                                        var data = $(this).attr('data-tag-params');
                                        var obj = JSON.parse(data);

                                        if (obj.Tipos !== undefined && obj.Tipos.length > 0) {
                                            obj.Tipos = obj.Tipos.join(',');
                                            obj.Tipos = obj.Tipos.toLowerCase();
                                        }

                                        if (obj.QtdQuarto !== undefined && obj.QtdQuarto.length > 0) {
                                            obj.QtdQuarto = obj.QtdQuarto.join(',');
                                        }

                                        if (obj.UF !== undefined && obj.UF.length > 0) {
                                            obj.UF = obj.UF.join(',');
                                        }

                                        var busca = JSON.stringify(obj);
                                        window.location.href = "/venda/imoveis?busca=" + busca;
                                    })
                                });

                            </script>

                            
                            <script>

                                window.addEventListener('DOMContentLoaded', function () {

                                    // Função que abre e fecha o chat
                                    var callChat = function callChat() {
                                        $('#prechat').toggleClass('chat_oppened');
                                    }

                                    // exportando função para usar no onclick
                                    window.callChat = callChat;

                                    $('.form_prechat').submit(function (e) {
                                        e.preventDefault();

                                        var url = "";
                                        var form = $(this);

                                        var unindexed_array = form.serializeArray();
                                        var indexed_array = IndexDataForm(unindexed_array);

                                        var url_whatsapp = "https://wa.me/5521981291001?text=Olá!"

                                        form.css("opacity", "0.5");
                                        form.find('button[type=submit]').attr("disabled", "disabled");

                                        // prepara os valores
                                        var data = {
                                            Tag: indexed_array.Tag,  // tag ou id do formulátio (crm_formulario)
                                            Email: indexed_array.Email,  // Obrigatório!
                                            Nome: indexed_array.Nome, // Obrigatório!
                                            Assunto: 'Pré Chat - Atendimento Online',  // Obrigatório!
                                            Mensagem: 'Novo Contato no Pré-Chat do Atendimento Online',  // Obrigatório!
                                            TelResidencial: indexed_array.TelResidencial,
                                            values: JSON.stringify({}) // Obrigatório!
                                        };

                                        // envia para a API
                                        $.ajax({
                                            method: "POST",
                                            url: url,
                                            data: data
                                        })
                                            .done(function (resp) {
                                                console.log(resp);

                                                form.css("opacity", "1");
                                                form.find('button[type=submit]').prop('disabled', false);
                                                document.querySelector('.form_prechat').reset();
                                                window.open(url_whatsapp, '_blank');

                                            })
                                            .fail(function (resp) {
                                                console.log("erro de consumo da api");
                                                console.log(resp);
                                                $('.footer_chat small').html('Serviço indisponivel, tente novamente em alguns instantes.');
                                            });
                                    });


                                });

                            </script>
                        </div>
                    </div>
        </section>
    </div>

</div>